/* buttons glow     <-- ("https://webdeasy.de/en/top-css-buttons-en/")  */

.nav-button {
    align-content: center;
    margin: 10px;
    padding: 10px;
    list-style: none;
    text-align: center;
    display: inline-block;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
}

.glow-on-hover {
    display: "inline-block";
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #ffffff;
    position: fixed;
    z-index: 0;
    border-radius: 10px;
    text-align: center;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #66d63d, #20d35f, #00ff1e, #48ff00, #44e075, #25d159, #4dd45d, #36ea5d, #3caf28);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #cbfdbb;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}