.page_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: chartreuse; */
}

.zone_container {
    align-items: center;
    justify-content: center;
    align-self: center;
    flex: 1;
    display: flex;
    max-width: 1000px;
    width: 100%;
    /* background-color: aqua; */
    margin-bottom: -60px;
}

.plantbed_container {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    /* max-height: 500px; */
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-color: black; */
}

.plantbed {
    max-width: 700px;
    /* width: 700px; */
    width: 80%;
    /* height: 100%; */
    height: 400px; /* get this number from zone dimensions*/
    background-color: burlywood;
    display: grid;
    grid-auto-flow: dense;
    border: 2px solid white;
}

.plant {
    border-radius: 50%;
    align-self: center;
    justify-self: center;
}

.small_plant {
    align-self: center;
    justify-self: center;
}

.micro_plant {
    grid-row: span .5;
    grid-column: span .5;
    align-self: center;
    justify-self: center;
}

.large_plant {
    grid-row: span 2;
    grid-column: span 2;
    align-self: center;
    justify-self: center;
}

.plant_container {
    align-self: center;
    justify-self: center;
}

.plant_info_container {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    width: 100%;
    height: 400px; /* match this info from zone dimensions*/
    border: 2px solid white;
    border-left: none;
    border-radius: 0 20px 20px 0;
    background-color: #9dd685;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 12pt;
    color: #16330a;
}

.plant_title {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 5px;
}

h5 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 10pt;
    color: white;
}

h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 8pt;
    color: #16330a;
}

.plantbed_info {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
}

.yield span {
    font-weight: 700;
}

.plant_info {
    display: flex;
    align-items: center;
    /* padding-top: 0px;
    padding-bottom: 0px; */
    margin-top: -20px;
    margin-bottom: -20px;
    /* background-color: blue; */
}

.color_swatch {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit_footer {
    /* background-color: blue; */
    position: sticky;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_container {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.toggle_button {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.toggle_button.active {
    background-color: green;
}

.toggle_button:hover {
    background-color: blueviolet;
}