.zone_container {
    align-items: center;
    justify-content: center;
    flex: 1;
    display: flex;
}

.plantbed_container {
    width: 100%;
    /* max-width: 1000px; */
    height: 100%;
    /* max-height: 500px; */
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-color: rgba(0, 0, 0, 0.198); */
}

.plantbed {
    width: 700px;
    height: 400px;
    background-color: burlywood;
    display: grid;
    /* border: 1px solid #ffffff; */
    grid-auto-flow: dense;
}

.plant {
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    /* border: 1px solid #ffffff; */
}

.small_plant {
    align-self: center;
    justify-self: center;
}

.micro_plant {
    grid-row: span .5;
    grid-column: span .5;
    align-self: center;
    justify-self: center;
}

.large_plant {
    grid-row: span 2;
    grid-column: span 2;
    align-self: center;
    justify-self: center;
}

.plant_container {
    align-self: center;
    justify-self: center;
}

.plant_info_container {
    padding-left: 30px;
    display: inline-block;
    align-self: center;
}

.plant_info {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.color_swatch {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px
}

.submit_footer {
    /* background-color: blue; */
    position: sticky;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_container {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.toggle_button {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.toggle_button.active {
    background-color: green;
}

.toggle_button:hover {
    background-color: blueviolet;
}