.plantbed_container {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 500px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.198);
}

.plantbed {
    width: 700px;
    height: 400px;
    background-color: burlywood;
    display: grid;
    /* grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%; */
}

.plant {
    border-radius: 50%;
    /* grid-row-end: 5; */
}

/* .plantbed {
    width: 700px;
    height: 400px;
    background-color: burlywood;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line 
    justify-content: flex-start; /* Start from the left 
    align-content: flex-start; /* Start from the top 
} */

/* .plant {
    /* border: 2px solid white; 
    border-radius: 50%;
    flex: 0 0 auto; /* Allow items to grow and shrink equally 
    box-sizing: border-box; /* Include borders and padding in width and height 
} */
